@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #e7d3db;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 9px;
    background-color: #e7d3db;
    z-index: 300;
    
  
  }


  li{
    width: 100px;

  }
  
 
  a{
    
    text-decoration: none;
    color: navyblue;
    transition: .3s;
    
  }
  a:hover,
  a.active{
    color:#fdbb32;
  }

  .logo{
    text-align: left;
  }
  .logo img{

    position: fixed;
    margin-top: -60px;
    margin-left:10px;
}


h1{
    display:flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #f0ba4b;
    font-size:3.5em;
    pointer-events: none; 
}
.animate-scroll h2{
    
    color: #f0ba4b;
    font-size:3em;
    pointer-events: none;
    text-align: center;
    position:relative; top:500px; left:0px; margin-left:0px; margin-right:0px;
    animation: animate 2s linear infinite;
}

.animate-scroll{
    @keyframes amimate {
        0%{
            transform-origin: top;
            transform: scaleY(0);
        }

        100%{
            transform-origin: top;
            transform: scaleY(1);
        }
        
    }
}


.first{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:110vh;
    background: #f0ba4b;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path:circle(0px at center center);
}

.innerText{
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    white-space:nowrap;
    z-index:1;
    font-size:6vw;
    color:#e7d3db;
    text-align:center;
    width:100%; 
    pointer-events: none;
 
}

.container{
    position: relative;
    margin-top: 200vh;
    background-color: #e7d3db;
    text-align: center;
    padding:50px;
    color: #fdbb32;
    overflow:hidden;
}

.container h2{
    font-size:2.5em;
}

.flex-container{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.container-col{
    height: auto;
}

.container-col img{
    width:80%;
    padding:10px;
    border-radius: 50px;
}


@media(max-width:700px){
    .flex-container{
        flex-direction:column;
    }
}

.containerone{

    position: relative;
    margin-top: 0vh;
    background-color: #fdbb32;
    padding:125px;
    color: #e7d3db;
    font-size:2em;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}



form{
   background-color: #e7d3db;
   display:flex;
   flex-direction: column;
   padding:2vw 4vw;
   width:90%;
   max-width: 600px;
   border-radius: 50px;
}

form h3{
    color:#fdbb32;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, textarea{
    display:flex;
   border:0;
   margin: 10px 0px;
   padding: 20px;
   outline: none;
   background-color: #e7d3db;
   font-size: 16px;
   resize:none;

}
input, form textarea:-webkit-autofill{
    -webkit-text-fill-color: #fdbb32 !important;
}

form button{
    padding:15px;
    background: #e7d3db;
    color: #fdbb32;
    font-weight:bold;
    font-size: 18px;
    border:0;
    outline: none;
    cursor: pointer;
    width:150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

