*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    top:0;
    left:0;
    box-sizing: border-box;
    background: radial-gradient( circle at 100%, #3eb8e0, #e03ed3 50%, #eee 20%, #eee 20%);
    background-size: 200% 100%;
    -webkit-animation: bg-animation 30s ;
    
}

@-webkit-keyframes bg-animation{
    {background-position:100%}
}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px;
    position: relative; 
}